body{
    background-color: darkslategrey;
    color: aliceblue;
}
span{
    color: rgb(231, 235, 11);
}
h2{
    color: blueviolet;
}
h3{
    color: blueviolet;
}
h1{
    color: hsl(88, 100%, 50%);
}
a{
    color: rgb(255, 5, 5);
}